@import url('https://fonts.googleapis.com/css2?family=Lato&family=Work+Sans:wght@300&display=swap');
.App {
    min-height: 100vh;
    display: flex;
    background-image: url("./background02.jpeg");
    background-size: cover;
    background-position: center;
}